<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" type="text/css" href="../style.css" />
</head>

<body >
	<div class="container">
    	<div class="menu">
    	<div class="up">
           	<ul>
       			<li  class="logo">
                
                <a href="Home.html">
                <img src="../Image/images (1).jpg" width="170" height="45" />
                </a>
                   <li>
           			<a href="../Home.html">
<img src="../Image/tải xuống (4).png" width="25" height="30" /> Trang chủ </a>
                   </li>
                   <li>
           			<a href="../Introduce.html" >
                    <img src="../Image/tải xuống (6).png"width="25" height="30" />
                    
                    Giới thiệu
                    </a>
                   </li>
                   <li>
           			<a href="../Product.html" >
                    <img src="../Image/tải xuống (7).png" width="25" height="30" />
                    Sản phẩm
                    </a>
                    <ul>
                    	<ul>
                    	 
                        <li><a href="">Nón FullFace</a></li>
                        <li><a href="">Nón 3/4</a></li>
                        <li><a href="">Nón 1/2</a></li>
                        <li><a href="">Móc Khoá</a></li>
                        <li><a href="">Đồ bảo hộ</a></li>
                       </ul>
                     </ul>
                        
                    </li>
                   <li>
           			<a href="../Dangnhap.html" >
                    <img src="../Image/tải xuống (9).png" width="25" height="30" /> Đăng Nhập</a>
                   </li>
                   <li>
           			<a href="../Dangky.html" >
                    <img src="../Image/images (3).png" width="25" height="30" />
                    Đăng Ký
                    </a>
                   </li>
           		</ul>
            </div>
         <div class="down">
            <div class="search">
            	<input type="" name="" placeholder="Tìm kiếm trên Phượt Travel" />
                	<button><img src="../Image/tải xuống (8).png" /></button>
              
                        
            </div>
         </div>
            
</div>
 <div class="article">
 	<div class="menu2">
    <a href="#">DANH MỤC SẢN PHẨM</a>
    <ul>
    	<li>
        	Mũ Bảo Hiểm
    	</li>
    </ul>
    <ul>
    	<li>
        	Mũ Bảo Hiểm
    	</li>
    </ul>
    <ul>
    	<li>
        	Mũ Bảo Hiểm
    	</li>
    </ul>
    <ul>
    	<li>
        	Mũ Bảo Hiểm
    	</li>
    </ul>
 
	 </div>
 <div class="boxcenter">
 	<div class="content">
    	<div class="item">
        	<img src="../Image/images (2).png" alt="" />
        	<a href="#">Nón 3/4 Royal<br/>
        	  </a>
        	  <strong>450.000</strong> <span>đ</span>
      			</div>
     		 </div>
      <div class="content">
    	<div class="item">
        	<img src="../Image/images (2).png" alt="" />
          </div>
        <a href="#">Nón 3/4 Royal<br/></a>
          <strong>450.000</strong> <span>đ</span>
      </div>
   <div class="content">
    	<div class="item">
        	<img src="../Image/images (2).png" alt="" />
          </div>
          <a href="#">Nón 3/4 Royal<br/></a>
          <strong>450.000</strong> <span>đ</span>
         
      </div>
   <div class="content">
    	<div class="item">
        	<img src="../Image/images (2).png" alt="" />
          </div>
          <a href="#">Nón 3/4 Royal<br/></a>
          <strong>450.000</strong> <span>đ</span>
         
      </div>
   <div class="content">
    	<div class="item">
        	<img src="../Image/images (2).png" alt="" />
          </div>
          <a href="#">Nón 3/4 Royal<br/></a>
          <strong>450.000</strong> <span>đ</span>
         
      </div>
   <div class="content">
    	<div class="item">
        	<img src="../Image/images (2).png" alt="" />
          </div>
          <a href="#">Nón 3/4 Royal<br/></a>
          <strong>450.000</strong> <span>đ</span>
         
      </div>
   <div class="content">
    	<div class="item">
        	<img src="../Image/images (2).png" alt="" />
          </div>
          <a href="#">Nón 3/4 Royal<br/></a>
          <strong>450.000</strong> <span>đ</span>
         
      </div>
   <div class="content">
    	<div class="item">
        	<img src="../Image/images (2).png" alt="" />
          </div>
          <a href="#">Nón 3/4 Royal<br/></a>
          <strong>450.000</strong> <span>đ</span>
         
      </div>
   </div>
  </div>
</div>
  <div class="footer">
  </div>
    <div class="footer2">
      
   </div>
      
</body>
</html>
